<section class="share-on-social">
  <ul class="social-buttons">
    <li class="social-buttons__item">
      <a target="_blank" href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}" class="social-buttons__link" tabindex="-1">
        {% render 'icon-facebook' %}
        <span class="icon__fallback-text" aria-hidden="true">Share on Facebook</span>
        <span class="visually-hidden">Share on Facebook</span>
      </a>
    </li>
    <li class="social-buttons__item">
      <a target="_blank" href="//twitter.com/share?text={{ share_title | default: page_description | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}" class="social-buttons__link" tabindex="-1">
        {% render 'icon-twitter' %}
        <span class="icon__fallback-text" aria-hidden="true">Share on Twitter</span>
        <span class="visually-hidden">Share on Twitter</span>
      </a>
    </li>
    <li class="social-buttons__item">
      <a target="_blank" href="//pinterest.com/pin/create/button/?url={{ shop.url | append: share_permalink }}&amp;media={{ share_image | image_url: '1024x1024' }}&amp;description={{ share_title | default: page_description | url_param_escape }}" class="social-buttons__link" tabindex="-1">
        {% render 'icon-pinterest' %}
        <span class="icon__fallback-text" aria-hidden="true">Share on Pinterest</span>
        <span class="visually-hidden">Share on Pinterest</span>
      </a>
    </li>
  </ul>
</section>